# Ignorar todas as DLLs
*.dll

# Ignorar pastas de build
/bin/
/obj/

# Ignorar outros arquivos de build
*.exe
*.pdb
*.cache


/myfinance-web-dotnet/.vs/myfinance-web-dotnet/FileContentIndex
/myfinance-web-dotnet/.vs
/myfinance-web-dotnet/myfinance-web-dotnet/obj
