# Ignorar todas as DLLs
*.dll

# Ignorar pastas de build
/bin/
/obj/

# Ignorar outros arquivos de build
*.exe
*.pdb
*.cache

myfinance-web-dotnet/.vs/myfinance-web-dotnet/FileContentIndex/7feda0c9-5809-47b1-948a-c3fcdf700e48.vsidx
/myfinance-web-dotnet/.vs
/myfinance-web-dotnet/.vs
myfinance-web-dotnet/.vs/myfinance-web-dotnet/FileContentIndex/7feda0c9-5809-47b1-948a-c3fcdf700e48.vsidx
/myfinance-web-dotnet/.vs/myfinance-web-dotnet/DesignTimeBuild
/myfinance-web-dotnet/.vs
/myfinance-web-dotnet/myfinance-web-dotnet/obj
