# Ignorar todas as DLLs
*.dll

# Ignorar pastas de build
/bin/
/obj/

# Ignorar outros arquivos de build
*.exe
*.pdb
*.cache

myfinance-web-dotnet/.vs/myfinance-web-dotnet/FileContentIndex/7feda0c9-5809-47b1-948a-c3fcdf700e48.vsidx
/myfinance-web-dotnet/.vs
/myfinance-web-dotnet/.vs
myfinance-web-dotnet/.vs/myfinance-web-dotnet/FileContentIndex/7feda0c9-5809-47b1-948a-c3fcdf700e48.vsidx
/myfinance-web-dotnet/.vs/myfinance-web-dotnet/DesignTimeBuild
/myfinance-web-dotnet/.vs
/myfinance-web-dotnet/myfinance-web-dotnet/obj
myfinance-web-dotnet/.vs/myfinance-web-dotnet/v17/.suo
myfinance-web-dotnet/myfinance-web-dotnet/bin/Debug/net8.0/myfinance-web-dotnet.dll
myfinance-web-dotnet/myfinance-web-dotnet/bin/Debug/net8.0/myfinance-web-dotnet.exe
myfinance-web-dotnet/myfinance-web-dotnet/bin/Debug/net8.0/myfinance-web-dotnet.pdb
myfinance-web-dotnet/myfinance-web-dotnet/obj/Debug/net8.0/apphost.exe
myfinance-web-dotnet/myfinance-web-dotnet/obj/Debug/net8.0/myfinance-web-dotnet.AssemblyInfo.cs
myfinance-web-dotnet/myfinance-web-dotnet/obj/Debug/net8.0/myfinance-web-dotnet.AssemblyInfoInputs.cache
myfinance-web-dotnet/myfinance-web-dotnet/obj/Debug/net8.0/myfinance-web-dotnet.dll
myfinance-web-dotnet/myfinance-web-dotnet/obj/Debug/net8.0/myfinance-web-dotnet.pdb
myfinance-web-dotnet/myfinance-web-dotnet/obj/Debug/net8.0/myfinance-web-dotnet.sourcelink.json
myfinance-web-dotnet/myfinance-web-dotnet/obj/Debug/net8.0/ref/myfinance-web-dotnet.dll
myfinance-web-dotnet/myfinance-web-dotnet/obj/Debug/net8.0/refint/myfinance-web-dotnet.dll
