@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Solução projetada para gerenciar e organizar informações relacionadas às finanças pessoais. 
        Ela auxilia no controle de receitas e despesas, permitindo que os usuários acompanhem a saúde financeira e 
        tomem decisões embasadas.</p>
</div>
