@model PlanoContaModel

<h2>Editar Plano de Conta</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label>Nome</label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <br />

    <div class="form-check">
        <input asp-for="Tipo" class="form-check-input" type="radio" value="R" />
        <label class="form-check-label" for="Escolha">Receita</label>
    </div>

    <div class="form-check">
        <input asp-for="Tipo" class="form-check-input" type="radio" value="D" />
        <label class="form-check-label" for="Escolha">Despesa</label>
    </div>

    <br />
    <span asp-validation-for="Tipo" class="text-danger"></span>

    <div class="form-check">
        <input asp-for="Ativo" class="form-check-input"  type="checkbox" />
        <label asp-for="Ativo" class="form-check-label">Ativo</label>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Salvar</button>

</form>